<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles Sesion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="{{ sesion.imagen }}" />
    <ion-card-header>
      <ion-card-title>{{ sesion.nombresesion }}</ion-card-title>
      <ion-card-subtitle>ID: {{ sesion.id }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ sesion.descripcion }}
      <br>
      Precio: {{ sesion.precio }}
    </ion-card-content>
    <ion-button [routerLink]="['/update-sesion',sesion.id]" color="warning"><ion-icon name="create"></ion-icon></ion-button>
    <ion-button [routerLink]="['/delete-sesion',sesion.id]" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
  </ion-card>

</ion-content>

