<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Delete fotografo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eliminar fotografo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID: {{ fotografo.id }}</ion-card-subtitle>
      <ion-card-title>Realmente desea eliminar al fotografo: {{ fotografo.nombreFotografo }} ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-button (click)="eliminarFotografo()" expand="block" color="danger">Eliminar</ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>
