<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>List cliente</ion-title>
    <ion-button slot="end" [routerLink]="['/add-cliente']"> Agregar </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let g of clientes; let indexArray = index"[routerLink]="['/detail-cliente',g.id]">
      <ion-label>
        <h1>{{ g.nombre }}</h1>
        <p>ID: {{ g.id }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
